@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
/*	overflow: hidden;*/
	font-family: 'Baloo Tammudu 2', cursive;
	font-weight: 400;
}
header{
/*	padding-top: 20px;*/
	position: fixed;
	width: 100%;
	z-index: 10;	
}
.container{
	max-width: 1440px;
	width: 100%;
/*	margin: 0 auto;*/
}
.row{
	display: flex;
	flex-wrap: wrap;
/*	background: blue;*/
	align-items: center;
}
.logo{
/*	background: grey;*/
	padding: 10px 0;
}
.logo img{
/*	display: flex;*/
	width: 100%;
	max-width: 100px;
/*	background: black;*/
/*	justify-content: center;*/
}
.menu{
/*	background: grey;*/
/*	align-items: flex-end;*/
}
.menu ul{
	display: flex;	
/*	height: 100%;*/
/*	align-items: center;*/
	justify-content: flex-end;
/*	background: grey;*/
	list-style: none;
}
.menu ul li{
/*	font-weight: 600;*/
	margin-left: 10px;		
	font-size: 1.2rem;
}
.menu ul li a{
	text-decoration: none;
	color: #883E23;
	padding: 0px 15px;
	border-radius: 30px;
/*	transition-duration: 2s*/
}
.menu ul li a:hover{
	background: #a4e0ea;
	color: #883e23;
}
.vote {
/*	background: grey;*/
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size: 1.5rem;	
	text-decoration: none;
	color: #185387;
}
.vote a:hover{	
	color: crimson;
}
/*--->End header*/
.banner{
	width:100%;
	max-width: 1440px;
	height: 800px;
	position: relative;
	overflow: hidden;
	display: flex;	
	padding: 50px 0;
}
.nen{
	width: 100%;
	height: 100%;
}
.man{
	position: relative;
/*	background: grey;*/
}
.ava{
	position: absolute;
	bottom: 20px;
	left: 350px;
	height: 550px;
}
.hand{
	position: absolute;
	bottom: 130px;
	right: 380px;
/*	background: grey;*/
}
.arm{
	height: 130px;
}
.arm:hover{	
	animation: vaytay .5s linear alternate infinite;
}
.skill{
	width: 100%;
	background: #C7EDF7;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	bottom: 230px;
	right: -130px;
	transition: all 0.5s;
/*	animation: zoom .5s linear;*/
}
.skill:hover{
	transform: scale(1.1);
}
.portfo{
	width: 100px;
	background: #C7EDF7;
	border-radius: 50%;
	position: absolute;
	z-index: 3;
	bottom: 100px;
	right: -200px;
	transition: all 0.5s;
}
.portfo:hover{
	transform: scale(1.1);
}
.lhe{
	width: 100px;
	background: #C7EDF7;
	border-radius: 50%;
	position: absolute;
	z-index: 4;
	bottom: 100px;
	right: 470px;
	transition: all 0.5s;
}
.lhe:hover{
	transform: scale(1.1);
}
.abo{
	width: 100px;
	background: #C7EDF7;
	border-radius: 50%;
	position: absolute;
	z-index: 4;
	bottom: 230px;
	right: 400px;
	transition: all 0.5s;
}
.abo:hover{
	transform: scale(1.1);
}
.box{
	width: 100%;
	opacity: 0;	
	transition-duration: 2s;
}
.hand:hover .box{
	opacity: 1;	
}
.text{
	position: absolute;
	color: #8F5540;
	font-size: 72px;
	line-height: 1;
	top: 200px;
	left: 50px
}
.text span{
	font-size: 54px;
	
}
.text p{
	font-size: 26px;
}
#about{
	width:100%;
	max-width: 1440px;
	height: 800px;
/*	background: cyan;*/
	position: relative;
	display: flex;
}
.portrail{
	width: 100%;
	height: 100%;
	position: absolute;
/*	background: grey;*/
/*	z-index: 1;*/
/*	overflow: hidden;*/	
}
.portrail img{
	border-radius: 20px;
}
.info{
	color: #883e23;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0px;	
}
.info h1{
	font-size: 190px;
	font-weight: 700;
	-webkit-text-fill-color: white; 
  	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #883e23;
	opacity: .3;
	position: absolute;
	top: 130px;
}
.info h2{
	font-size: 81px;
	position: absolute;
	top: 167px;
	left: 140px;
}
.info h3{
	font-size: 36px;
	position: absolute;
	top: 380px;
}
.info p{
	font-size: 21px;
	position: absolute;
	top: 455px;
	line-height: 32px;
}

.info a span{
	font-size: 22px;
	color: aliceblue;
	padding: 15px 10px 5px;
	list-style: none;
	text-decoration: none;
	background: #883e23;
	border-radius: 20px;
	line-height: 16px;
	position: absolute;
	bottom: 200px;
}
#kynang{
	width:100%;
	max-width: 1440px;
	height: 800px;
/*	background: red;*/
	position: relative;
/*	opacity: 0.5;*/
/*	display: flex;*/
	padding-top: 50px;	
}
#kynang h1{
	font-size: 190px;
	font-weight: 700;
	-webkit-text-fill-color: white; 
  	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #883e23;
	opacity: .3;
	position: absolute;
	top: 50px;
	left: 500px;
	letter-spacing: 40px
}
#kynang h2{
	color: #883e23;
	font-size: 80px;
	position: absolute;
	top: 180px;
	right: 405px;
	letter-spacing: 13px;
}
.chart{
	position: absolute;
	top: 300px;
	width: 100%;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
/*  background: #6665ee;*/
}
::selection{
  color: #fff;
  background: #883e23;
}
.skill-bars{
  padding: 25px 30px;
  width: 1000px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
	position: absolute;
	top: 50px;
	left: 200px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 5s ease-in-out forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #883e23;
  animation: animate 1s 1s ease-in-out forwards;
}
.bar .progress-line.html span{
  width: 60%;
}
.bar .progress-line.css span{
  width: 50%;
}
.bar .progress-line.illustrator span{
  width: 65%;
}
.bar .progress-line.id span{
  width: 60%;
}
.bar .progress-line.pts span{
  width: 55%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "60%";
}
.progress-line.css span::after{
  content: "50%";
}
.progress-line.illustrator span::after{
  content: "65%";
}
.progress-line.id span::after{
  content: "60%";
}
.progress-line.pts span::after{
  content: "55%";
}
@keyframes vaytay{
	from{
		transform: rotate(15deg)translateX(2px);
	}
	to{
		transform: rotate(-15deg)translateX(-10px);
	}
}
#portfolio{
	width:100%;
	max-width: 1440px;
	height: 800px;
/*	background: cyan;*/
	position: relative;
	display: flex;
	justify-content: center;
}
#portfolio h1{
	font-size: 190px;
	font-weight: 700;
	-webkit-text-fill-color: white; 
  	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #883e23;
	opacity: .2;
	position: absolute;
	top: -90px;	
	letter-spacing: 40px;
/*	background: grey;*/
}
#portfolio h2{
	color: #883e23;
	font-size: 65px;
	position: absolute;
	top: 58px;
	left: 165px;
	letter-spacing: 13px;
}
.outer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 250px;
}
.grid{
	height: 500px;
	background: none;
	transition: all .5s linear;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: relative;
}
.grid:hover {
	transform: scale(1.5);
	opacity: 1;
}
.grid img{
	height: 100%;
	max-height: 1000px;
	border-radius: 20px;
}
.grid h3{
	color: beige;
	position: absolute;
	top: 50px;
	left: 70px;
	font-size: 40px;
	transition-duration: .5s;
/*	opacity: 0;*/
}
/*
.grid:hover h3 {
	visibility: visible;
	opacity: 1;
}
*/
.title-hide{
	opacity: 0;
}
.grid:hover .title-hide{
	opacity: 1;
}
.title{
	transition-duration: .5s;
/*	opacity: 0;*/
}
/*
.title:hover{
	visibility: visible;
	opacity: 1;
}
*/
.grid .title h4{
	color: beige;
	position: absolute;
	top: 50px;
	left: 130px;
	font-size: 40px;
/*
	transition-duration: 1s;
	opacity: 0;
*/
}
.grid h5{
	color: beige;
	position: absolute;
	top: 100px;
	left: 170px;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 20px;
	opacity: .5;
}
.padding-grid:hover .grid{
/*
	transform: scale(1.5);
	opacity: 1;
	visibility: visible;
*/
}
/*--->contact*/
#contact{
	width: 100%;
	max-width: 1440px;
	height: 400px;
	padding-top: 100px;
	position: relative;
	display: flex;
	justify-content: center;
}
#contact h1{
	font-size: 190px;
	font-weight: 700;
	-webkit-text-fill-color: white; 
  	-webkit-text-stroke-width: 2px;
  	-webkit-text-stroke-color: #883e23;
	opacity: .2;
	position: absolute;
	top: 0px;	
	letter-spacing: 40px;
/*	background: grey;*/
}
#contact h2{
	color: #883e23;
	font-size: 36px;
	position: absolute;
	top: 30px;
	left: 480px;
	letter-spacing: 13px;
	}
form{
	position: relative;
	z-index: 3;
	top: 50px;
/*	background: grey;*/
/*	box-sizing: border-box;*/
/*	display: flex;*/
/*	display: block;*/
/*	flex-direction: column;*/
	}
form {
   max-width: 600px;
/*   text-align: center;*/
   margin: 0px auto;
	position: relative;
	right: 120px;
}
  input , textarea {
     border:0; outline:0;
     padding: 1em;
     display: block;
     width: 100%;
     margin-top: 1em;
/*     font-family: 'Merriweather', sans-serif;*/
     resize: none; 
	  font-size: 18px;
  }
 
  textarea {
      height: 126px;
  }
#input-name{
	background: rgba(177,174,174,0.49);
	border-radius: 10px;
	
}
#input-email{
	background: rgba(177,174,174,0.49);
	border-radius: 10px;
}
#input-subject{
	background: rgba(177,174,174,0.49);
	border-radius: 10px;
}
#input-message{
	background: rgba(177,174,174,0.49);
	border-radius: 10px;
	position: absolute;
	left: 205px
}
 #input-submit{
     color: white; 
     background: #883e23;
	 border-radius: 10px;
	 padding: 5px 10px;
	 margin-left: 120px;
   }  
#input-submit a{
	list-style: none;
	text-decoration: none;
}
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
footer{
	width:100%;
	max-width: 1440px;
/*	max-height: 800px;*/
	height: 100px;	
/*	background: cyan;*/
/*	text-align: center;*/
/*	position: relative;*/
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	
}
footer p{
	margin-top: 80px;
}
footer img{
	width: 50px;	
	margin: 10px;
}
.social{
	position: relative;
	width: 250px;
	height: 60px;
/*	background: grey;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	top: 50px
}


/*-->end footer*/
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;	
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.64%;
}
.col-9{
	width: 74.97%
}
.col-10{
	width: 83.3%
}
.col-11{
	width: 91.63%
}
.col-12{
	width: 100%;
}
.padding-grid{
	padding: 10px 10px;
	box-sizing: border-box;
}